DJANGO_SECRET_KEY=change-me-in-local-environment
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:4200
DB_NAME=routes_db
DB_USER=routes_user
DB_PASSWORD=routes_password
DB_HOST=db
DB_PORT=5432

